<div align="center">
  <% if @user.image.attached? %>
    <div>
        <%= image_tag @user.image %>
    </div>
  <% end %>
  <h1><%= @user.first_name %> <%= @user.last_name %></h1>
  <h2><%= @user.email %></h2>

 <%= link_to "Edit", edit_user_path(@user), class:"btn btn-primary" %> | 
 <%= link_to "Delete", user_path(@user), method: :delete, class:"btn btn-danger", data: {confirm: "Are you sure?"} %> 
</div>
