<div align="center">
  <% if @user.image.attached? %>
    <div>
        <%= image_tag @user.image %>
    </div>
  <% end %>
  <h1><%= @user.full_name %></h1>
  <%= form_for(:user_weight, url: user_weights_path) do |f| %>
    <div class="form-group row">
      <div class="col-form-label col-sm-3">
        <%= f.label :weight %>
      </div>
      <div class="col-sm-4">
        <%= f.number_field :weight, step: 0.1, class: "form-control",
            autofocus: true %>
      </div>
      <%= f.submit "Save", class: "btn btn-primary" %>
    </div>
  <% end %>
  <% if @user.user_weights.any? %>
  <%= column_chart @userWeights.group_by_day(:created_at).count, min: 0.0, max: 999.0 %>
    <table class="table table-striped table-dark">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Entered Date</th>
          <th scope="col">Weight</th>
          <th scope="col">Actions</th>
        </tr>
      </thead>
      <tbody>
        <% @userWeights.each do |user_weight| %>
        <tr>
          <th scope="row"><%= user_weight.id %></th>
          <td><%= user_weight.created_at.to_date.to_formatted_s(:long_ordinal) %></td>
          <td><%= user_weight.weight %></td>
          <td>
            <%= link_to "Edit Weight", edit_user_weight_path(user_weight),
                class: "btn btn-info" %> |
            <%= link_to "Delete Weight", user_weight_path(user_weight),
                method: :delete, data: {confirm: "Are you sure?" },
                class: "btn btn-danger" %>
          </td>
        </tr>
        <% end %>
        <div class="digg_pagination">
          <div class="page_info">
            <%= page_entries_info @userWeights %>
          </div>
          <%= will_paginate @userWeights %>
        </div>

      </tbody>
    </table>
  <% end %>

 <%= link_to "Edit User", edit_user_path(@user), class:"btn btn-primary" %> |
 <%= link_to "Delete User", user_path(@user), method: :delete, class:"btn btn-danger", data: {confirm: "Are you sure?"} %>
</div>
